* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    text-align: center;
}

header {
    height: 400px;
    width: 100%;
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
}

header a, main a{
    color: black;
    background-color: white;
    padding: .4em .7em;
    border-radius: 1em;
}

nav {
    height: 1.5em;
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    font-size: .9rem;
}

nav img {
    vertical-align: middle;
    float: left;
}

nav > a {
    float: right;
}

ul {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

header li {
    display: inline-block;
    margin: 0 1em;
}

li a {
    color: unset;
    background-color: transparent;
}

a {
    text-decoration: none;
    line-height: 1em;
}

header .content {
    width: 40%;
}

header .links a:last-child {
    background-color: black;
    color: white;
}

main {
    background-color: lightgrey;
}

section {
    height: 800px;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section:nth-child(odd) {
    background-color: white;
}

section:last-child {
    height: 1000px;
}

.content h1{
    font-size: 2.5em;
}

.content p {
    margin: 2em 0;
}

.content a {
    font-size: 1.1rem;
    margin: .5em;
}

section .content {
    width: 70%;
}

section .content .img {
    width: calc(70% - 2em);
    vertical-align: middle;
}

.text {
    width: calc(30% - 2em);
    display: inline-block;
    margin: 0 1em;
    vertical-align: middle;
    text-align: left;
}

main a {
    background-color: cornflowerblue;
    color: white;
}


main #collegamento {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    margin: 0 auto;
    font-size: 1.5em;
    padding: 1.5em;
    font-weight: bold;
}

footer {
    background-color: rgb(24, 24, 24);
    color: white;
}

footer #container {
    width: 70%;
    margin: 0 auto;
    padding: 3em 0;
    text-align: left;
}

footer #container::after{
    content: "";
    display: table;
    clear: right;
}

#side {
    width: 35%;
    display: inline-block;
}

footer #links {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2em;
    float: right;
}

#links .section {
    width: 25%;
    display: inline-block;
    float: left;
}

footer h1 {
    color:cornflowerblue;
}

.section .title {
    font-size: 1em;
}

.section li {
    margin: .2em 0;
}

select {
    background-color: transparent;
    color: unset;
    border: none;
    margin: 1em 0;
}

#language {
    line-height: 1em;
}

#language img{
    vertical-align: middle;
    height: 1em;
}

footer i {
    color: white;
}

#social a{
    margin-right: 1em;
}

i {
    height: 1em;
    width: 1em;
}

.links {
    height: 3em;
    margin: 1em;
}

